<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Count</title>
</head>
<body>
<h1>COUNT</h1>
<a href="{% url 'home' %}">Start Again</a>
<h2>Texto Escrito:</h2>
{{ fulltext }}
<h2>Quantidade de Palavras:</h2>
{{ count }}
<h2>Dict</h2>
{{ worddict }}
</body>
</html>