<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WORD COUNT</title>
</head>
<body>
<h1>WORD COUNT</h1>
{{ hithere }}

<form action="{% url 'count' %}">
    <textarea cols="40" rows="5" name="fulltext"></textarea>
    <br />
    <input type="submit" value="Count!" />

</form>
<br>
<br>
<a href="{% url 'about' %}">About Me!</a>
</body>
</html>